.main-container {
  width: 480px;
  flex: 1 0 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: #2d2d28;
}

.session {
  font-size: 28px;
  margin-top: 15px;
}

.db {
  font-size: 28px;
}

button[type='submit'] {
  box-sizing: border-box;
  width: 80%;
  outline: none;
  padding: 8px;
  border-radius: 1px;
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: 15px;
  font-weight: bold;
  border-color: #2d2d28;
  background-color: #2d2d28;
  color: white;
  cursor: pointer;
}
