
.modal_btn {
    background-color: #4000c7;
    text-decoration: none;
    border: none;
    padding: 20px;
    color: white;
    border-radius: 30px;
    cursor: grab;
  }
  
  .modal {
    margin: 30px;
    padding: 70px;
    border-radius: 10px;
    background-color: #ede4ff;
  }
  