.toggle {
    border-radius: 40px;
    padding: 10px;
    margin: 10px;
    width: 70px;
    height: 30px;
    background-color: #4000c7;
  }
  
  .toggle_btn {
    border-radius: 50%;
    background-color: white;
    width: 30px;
    height: 30px;
  }
  
  .toggle .on {
    margin-left: 40px;
  }
  