.cart-item-body{
    padding: 0.5rem;
    margin:10px;
    width: 700px;
    height: 170px;
    list-style-type: none;
    background: #ffffff;
    border: 0.2px solid #6d6d6d;
    box-sizing: border-box;
    display: inline-flexbox;

}

.cart-item-info{
    position: sticky;
    margin:auto;
    padding: 10px;
    position: relative;
    top: 50%;
    width:50%;
    transform: translateY(-50%);
}

.cart-item-title{
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    color: #000000;
}
.cart-item-price{
    height: 14px;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    
    color: #000000;
}
.cart-item-quantity{
    position: unset;;
    margin-right: 20px;
    width: 70px;
    float: right;
    background: #F9F9F9;
}

.cart-item-thumbnail{
    position: sticky;
    padding: 10px;
    width: 130px;
    height: 130px;
    float: left;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.cart-item-thumbnail img{
    height:inherit;
    width:inherit;
    object-fit: cover;
}
.cart-item-checkbox{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    float: left;
}

#shopping-cart-container{
    margin:1rem;
}

#order-summary-container{
    padding: 1rem;
    width: 250px;
    height: 300px;
    float: right;
    border: 0.2px solid #6d6d6d;

}