#itemListBody {
    background-color: #bc9eff0e;
    padding: 5rem;
    width: 80rem;
    margin: 0 auto;
}

#itemListTitle {
    font-size: 1.5rem;
    font-weight: 800;
    padding-bottom: 1rem;
    margin: 0.5rem;
}

.item {
    display: inline-block;
    width: 230px;
    height: 300px;
    border: solid rgb(238, 238, 238) 0.1rem;
    margin: 0.5rem;
    background-color: white;
}

.item:hover {
    background-color: rgba(247, 247, 247, 0.836);
    box-shadow: 3px 3px 3px #3f00c71a;
}

.itemImg {
    width: 210px;
    height: 210px;
    margin: 0.5rem;
    border: 0.5px solid black
}

.itemName {
    float: left;
    margin-left: 1rem;
    font-weight: 400;
}

.price {
    float: right;
    margin-right: 1rem;
    font-weight: 700;
}

button {
    background-color: #deceff;
    border: none;
    border-radius: 1rem;
    width: 170px;
    padding: 0.3rem;
    text-align: center;
    color: #4000c7;
    margin-top: 0.4rem;
    margin-left: 1.9rem;
}

button:hover {
    color: white;
    background-color: #4000c7;
    box-shadow: 1px 2px 1px rgb(189, 189, 189);
}