@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css");

* {
  font-family: "pretendard";
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  size: 100%;
}
