h1,
p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

button {
  border: none;
  border-radius: 2px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.plusBtn {
  margin-right: 10px;
}
