@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');


* { 
    box-sizing: border-box;
    list-style:none;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Michroma;
    font-size: 16px;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(160,251,63);
    background: radial-gradient(circle, rgba(160,251,63,1) 0%, rgba(255,255,188,1) 100%);
}

figure {
    width: 280px;
    height: 420px;
    background-color: #f8b117;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    border-radius: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

button {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin: 5px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

@keyframes mouseHover {
    0% {
        transform: none;
        }
        50% {
        transform: translateY(-15px)
        }
        100% {
        transform: translateY(0px);
        }
    }

#display {
    background: #4a4949;
    width: 240px;
    height: 60px;
    margin: 30 20px;
    padding: 15px;
    border: none;
    border-radius: 15px;
    text-align: right;
    color: white;
    font-size: 1.4rem;
    box-shadow: rgb(28, 38, 47) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.112) -3px -3px 6px 1px inset;
}

.display:focus {
    outline: none;
}

.number {
    background-color: #f4e9b3;
}

.number:focus {
    animation: mouseHover 0.5s ease-in-out forwards;   
}

.number:hover {
    background-color: #f0e3a2e7;  
}

.operator {
    background-color: #f87400;
}

.operator:focus {
    animation: mouseHover 0.5s ease-in-out forwards;   
}

.operator:hover {
    background-color: #f87400;  
    color: white;
}

.character {
    z-index: -1;
    position: absolute;
    justify-content: center;
    width: 24vw;
    top: 4vh;
}