@font-face {
  font-family: "SamsungSharpSans-Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Samsung Sharp Sans Regular Regular"),
    url("../public/font/SamsungSharpSansRegular-Regular.woff") format("woff");
}
@font-face {
  font-family: "SamsungSharpSans-Bold";
  font-style: normal;
  font-weight: normal;
  src: local("SamsungSharpSans-Bold"),
    url("../public/font/samsung_s_sharp_by_629lyric-d8y77l9.woff")
      format("woff");
}
* {
  font-family: "NanumBarunGothic";
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  list-style: none;
  text-decoration: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
  letter-spacing: -0.015em;
}

*::-webkit-scrollbar {
  display: none;
}
body {
  height: 100%;
  overflow: scroll;
}
