
* {
    font-family: 'NanumBarunGothic';
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    list-style: none;
    text-decoration: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  *::-webkit-scrollbar {
    display: none;
  }
  
  body {
    height: 100%;
    overflow: scroll;
  }
  
  
  
