input[type=checkbox] {
  margin: 0 5px;
}

input[type="checkbox"] ~ul {
  display: none;
}

input[type="checkbox"]:checked ~ul {
  display: block;
}

#root {
  font-family: 'Do Hyeon', sans-serif;
  margin: 20px;
  border: 2px solid #333;
  border-radius: 10px;
  padding: 10px 40px;
  width: 50vw;
}