@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

* {
    box-sizing: border-box;
}

body {
    background-color: #f9fafb;
    font-family: "Open Sans", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    width: 400px;
    padding: 30px 40px;
}

h2 {
    text-align: center;
    margin: 0 0 20px;
}

.tweet {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 14px;
}
